{% extends '../layouts/default.html' %}
{% load static %}

{% block main %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <h1 class="text-center">Tạo bản nháp bài viết</h1>
      <form method="POST" enctype="multipart/form-data" form-create>
        {% csrf_token %}
        {{ form_cp.as_p }}
        {{ form_cp.media }}
        <input hidden  name="send" value="">
        <div class="d-flex justify-content-center gap-2">
          <button class="btn btn-dark">Tạo bản nháp</button>
          <button type="button" btn-send class="btn btn-success">Gửi bản nháp</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/processing/form_create.js' %}"></script>
{% endblock %}