{% extends '../layouts/default.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/processing/list.css' %}">
{% endblock %}

{% block main %}
<h1 class="text-center">Danh sách chờ chỉnh sửa</h1>
{% if posts %}
<form form-action-multi method="POST" class="d-flex gap-5" style="align-items: center;">
  {% csrf_token %}
  <input type="text" hidden ids name="post-ids">
  <div>
    <label for="">Tất cả</label> <br>
    <input checkbox-all type="checkbox">
  </div>
  <div class="d-flex gap-2">
    <select class="form-select" name="action" style="height: 37.6px;">
      <option selected value="">Chọn hành động</option>
      <option value="send">Gửi bài viết</option>
    </select>
    <button btn-confirm type="button" style="width: 135px; height: 37.6px;" class="btn btn-dark" >Xác nhận</button>
  </div>
</form>
{% for post in posts %}
<br>
<div class="d-flex mb-3">
  <div class="me-2 pt-1">
    <input checkbox value="{{post.id}}" type="checkbox">
  </div>
  <div class="border py-2 px-2 d-flex w-100 gap-4">
    <div class="div-img">
      <img src="{{ post.image.url }}" alt="Ảnh">
    </div>
    <div class="div-body">
      <a href="/processing/posts/{{ post.slug }}/">{{ post.title }}</a> <br>
      <div><strong><i>{{ post.section }}</i></strong></div>
      <div class="created-by">Người tạo: <i>{{ post.created_by.first_name }} {{ post.created_by.last_name }}</i></div>
      <div class="created-at">Ngày tạo: <i>{{ post.created_at }}</i></div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<br><br>
<h4 class="text-center">Chưa có bài viết cần sửa</h4>
{% endif %}
{% endblock %}

{% block js %}
<script src="{% static 'js/processing/list.js' %}"></script>
{% endblock %}
