{% extends '../layouts/default.html' %}
{% load static %}

{% block main %}
<div class="container"></div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      {% if user.groups.first.name == 'Contributor' %}
      <h1 class="text-center">Chỉnh sửa bản nháp</h1>
      {% else %}
      <h1 class="text-center">Chỉnh sửa bài viết</h1>
      {% endif %}
      <form form-update method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_up.as_p }}
        {{ form_up.media }}
        {% if post.status == 'Chờ sửa' %}
        <input hidden  name="send" value="">
        {% endif %}
        <div class="d-flex justify-content-center gap-2">
          <button class="btn btn-dark">Lưu</button>
          {% if post.status == 'Chờ sửa' %}
          <button type="button" btn-send class="btn btn-success">
            {% if user.groups.first.name == 'Contributor' %}
            Gửi bản nháp
            {% else %}
            Gửi bài viết
            {% endif %}
          </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/processing/form_update.js' %}" defer></script>
{% endblock %}