<form action="" class="d-flex gap-2 justify-content-end">
  <div>
    <label for="keyword">Từ khóa</label>
    <input class="form-control" id="keyword" type="text" placeholder="Tìm kiếm" value="{{ keyword }}" name="keyword">
  </div>
  <div>
    <label for="role">Vai trò</label><br>
    <select name="role" id="role" class="form-select" style="cursor: pointer;">
      <option {% if not role %} selected {% endif %} value="">Tất Cả</option>
      <option {% if role == 'Contributor' %} selected {% endif %}>Contributor</option>
      <option {% if role == 'Editor' %} selected {% endif %}>Editor</option>
    </select>
  </div>
  <button class="btn btn-teal mt-4">Lọc</button>
</form>
