{% extends '../layouts/default.html' %}

{% block main %}
<h1 class="text-center mt-2 mb-4">Bảng thống kê</h1>
<div class="container">
  <div class="d-flex row" style="justify-content: center;">
    <div class="col-6 border-dashborad">
      <canvas id="bar-chart"></canvas>
      <h5 style="text-align: center;">Biểu đồ thanh lượt xem của từng chủ đề</h5>
    </div>
    <div class="col-3 border-dashborad">
      <canvas id="pie-chart"></canvas>
      <h5 style="text-align: center;">Biểu đồ donut độ tuổi người dùng</h5>
    </div>
    <div class="col-3 border-dashborad">
      <canvas id="pie-chart-2"></canvas>
      <h5 style="text-align: center;">Biểu đồ tỉ lệ giới tính của người dùng</h5>    
    </div>
  </div>
  <div class="d-flex row" style="justify-content: center;">
    <div class="col-4 border-dashborad">
      <canvas id="polar-chart"></canvas>
      <h5 style="text-align: center;">Biểu đồ polar tỉ lệ quan tâm của từng chủ đề</h5>    
    </div>
    <div class="col-8 border-dashborad">
      <canvas id="mix-chart"></canvas>
      <h5 style="text-align: center;">Biểu đồ cột và đường số lượng bài viết và ý kiến từng chủ đề</h5>
    </div>
  </div>
  <div class="row d-flex" style="justify-content: center;">
    <div class="col-12 border-dashborad">
      <canvas id="mix-chart-2"></canvas>
      <h5 style="text-align: center;">Biểu đồ cột và đường số lượng bài viết và người dùng từng ngày</h5>
    </div>
  </div>
</div>
<br><br>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const df_view = {{ df_view|safe }}
  const df_label_topic = {{ df_label_topic|safe }}
  const df_cnt_post = {{ df_cnt_post|safe }}
  const df_cmt = {{ df_cmt|safe }}
  // const df_comment = {{ df_comment|safe }}
  // const df_label_comment = {{ df_label_comment|safe }}
  const df_enjoy = {{ df_enjoy|safe }}
  const df_label_enjoy = {{ df_label_enjoy|safe }}
  const df_age_band = {{ df_age_band|safe }}
  const df_label_age_band = {{ df_label_age_band|safe }}
  const df_gender = {{ df_gender|safe }}
  const df_label_gender = {{ df_label_gender|safe }}
  const df_post = {{ df_post|safe }}
  const df_time = {{ df_time|safe }}
  const df_user = {{ df_user|safe }}

  let bg_1 = [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ]
  
  let bg_2 = [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ]

  const barChart = document.getElementById('bar-chart');
  new Chart(barChart, {
    type: 'bar',
    data: {
      labels: df_label_topic,
      datasets: [{
        label: 'lượt xem',
        data: df_view,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 1,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const pieChart = document.querySelector('#pie-chart')
  new Chart(pieChart, {
    type: 'doughnut',
    data: {
      labels: df_label_age_band,
      datasets: [{
        label: 'phần trăm',
        data: df_age_band,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 1,
        hoverOffset: 3
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              const dataset = tooltipItem.dataset.data;
              const total = dataset.reduce((acc, value) => acc + value, 0);
              const currentValue = dataset[tooltipItem.dataIndex];
              const percentage = ((currentValue / total) * 100).toFixed(2);
              return `${tooltipItem.label}: ${percentage}%`;
            }
          }
        }
      }
    }
  });


  const mixedChart2 = document.getElementById('mix-chart-2');
  new Chart(mixedChart2, {
    data: {
      labels: df_time,
      datasets: [{
        type: 'line',
        label: 'bài đăng',
        data: df_post,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 4,
      }, {
      type: 'bar',
      label: 'người dùng',
      data: df_user,
      backgroundColor: bg_1,
      borderColor: bg_2,
      borderWidth: 1,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
  

  const polarChart = document.querySelector('#polar-chart')
  new Chart(polarChart, {
    type: 'polarArea',
    data: {
      labels: df_label_enjoy,
      datasets: [{
        label: 'phần trăm',
        data: df_enjoy,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 1,
        hoverOffset: 3
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              const dataset = tooltipItem.dataset.data;
              const total = dataset.reduce((acc, value) => acc + value, 0);
              const currentValue = dataset[tooltipItem.dataIndex];
              const percentage = ((currentValue / total) * 100).toFixed(2);
              return `${tooltipItem.label}: ${percentage}%`;
            }
          }
        }
      }
    }
  });

  const pieChart2 = document.querySelector('#pie-chart-2')
  new Chart(pieChart2, {
    type: 'pie',
    data: {
      labels: df_label_gender,
      datasets: [{
        label: 'phần trăm',
        data: df_gender,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 1,
        hoverOffset: 3
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins: {
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              const dataset = tooltipItem.dataset.data;
              const total = dataset.reduce((acc, value) => acc + value, 0);
              const currentValue = dataset[tooltipItem.dataIndex];
              const percentage = ((currentValue / total) * 100).toFixed(2);
              return `${tooltipItem.label}: ${percentage}%`;
            }
          }
        }
      }
    }
  });

  const mixedChart = document.querySelector('#mix-chart')
  new Chart(mixedChart, {
    data: {
      labels: df_label_topic,
      datasets: [{
        type: 'line',
        label: 'ý kiến',
        data: df_cmt,
        backgroundColor: bg_1,
        borderColor: bg_2,
        borderWidth: 4,
      }, {
      type: 'bar',
      label: 'bài đăng',
      data: df_cnt_post,
      backgroundColor: bg_1,
      borderColor: bg_2,
      borderWidth: 1,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}