figure {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

figure img {
  max-width: 50vw;
  max-height: auto;
  height: auto;
}

.post-img {
  max-width: 50vw;
  height: auto;
}

.user-img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.co-div {
  border: .8px solid rgb(183, 179, 179);
  height: 151.6px;
  padding: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.co-img {
  max-width: 210px;
  height: 111.6px;
  overflow: hidden;
  aspect-ratio: 240/11;
}

.co-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.co-section {
  color: rgb(183, 179, 179);
  text-decoration: none;
}