<div class="div-post p-4 d-none">
  <div class="container">
    <div class="d-flex justify-content-end"><i class="fa-regular fa-circle-xmark"></i></div>
    <h3 class="text-light" style="text-align: center;">Đăng bài viết lên trang chủ</h3>
    <form class="form-post container" method="POST">
      {% csrf_token %}
      <input type="text" hidden name="action" value="post">
      <label for="start-time" class="fw-semibold text-info">Giờ bắt đầu</label>
      <input type="time" name="start-time" id="start-time" class="form-control">
      <br>
      <label for="start-time" class="fw-semibold text-info">Giờ kết thúc</label>
      <input type="time" name="end-time" id="end-time" class="form-control">
      <br>
      <center><button btn-submit type="button" class="btn btn-success">Đăng</button></center>
    </form>
  </div>
</div>


