{% load static %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/processing/"><i class="fa-solid fa-spinner pe-2"></i>CMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="justify-content: space-between;">
      <ul class="navbar-nav gap-3">
        {% if user.groups.first.name == 'Approver' or user.groups.first.name == 'Contributor' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-file-lines pe-2"></i>Bản nháp</a>
          <ul class="dropdown-menu bg-dark">
            <li class="nav-item"><a class="nav-link" href="/processing/create-draft/"><i class="fa-solid fa-plus pe-2"></i>Tạo mới</a></li>
            <li class="nav-item"><a class="nav-link" href="/processing/drafts/"><i class="fa-solid fa-list pe-2"></i>Của bạn</a></li>
          </ul>
        </li> 
        {% endif %} 
        {% if user.groups.first.name == 'Approver' or user.groups.first.name == 'Editor' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class="fa-solid fa-list pe-2"></i>Danh sách</a>
          <ul class="dropdown-menu bg-dark">
            {% if user.groups.first.name == 'Approver' %}
            <li class="nav-item">
              <a class="nav-link" href="/processing/pending-list/">
                <i class="fa-solid fa-list pe-2"></i>
                Chờ duyệt
                {% if pending_list_count > 0 %}
                <span class="badge text-bg-danger ms-2">{{ pending_list_count }}</span>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/processing/confirmation-list/">
                <i class="fa-solid fa-list pe-2"></i>
                Chờ đăng
                {% if confirmation_list_count > 0 %}
                <span class="badge text-bg-danger ms-2">{{ confirmation_list_count }}</span>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/processing/list-edit/">
                <i class="fa-solid fa-list pe-2"></i>
                Chờ sửa
                {% if list_edit_count > 0 %}
                <span class="badge text-bg-danger ms-2">{{ list_edit_count }}</span>
                {% endif %}
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/processing/list-edit/">
                <i class="fa-solid fa-list pe-2"></i>
                Chờ sửa
                {% if my_list_edit_count > 0 %}
                <span class="badge text-bg-danger ms-2">{{ my_list_edit_count }}</span>
                {% endif %}
              </a>
            </li>
            {% endif %}
          </ul>
        </li> 
        {% endif %}
        {% if user.groups.first.name == 'Approver' %}
        <li class="nav-item"></li>
          <a class="nav-link" href="/processing/sections/"><i class="fa-solid fa-tags pe-2"></i>Danh mục</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"><i class='fas fa-user-check pe-2'></i>Tài Khoản</a>
          <ul class="dropdown-menu bg-dark">
            <li class="nav-item"><a class="nav-link" href="/account/"><i class='fas fa-user-alt pe-2'></i>Tài Khoản</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout/"><i class='fas fa-user-minus pe-2'></i>Đăng Xuất</a></li>
          </ul>
        </li>  
      </ul>
      <ul class="navbar-nav">
        {% if user.groups.first.name == 'Approver' %}
        <li class="nav-item">
          <a class="nav-link" href="/manager/"><i class="fa fa-dashboard pe-2"></i>Dashboard</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a href="/" class="nav-link">
            <img 
              src="{% static 'svg/logo.svg' %}" 
              alt="Báo VnExpress - Báo tiếng Việt nhiều người xem nhất"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>