.post-img {
  max-width: 35vw;
  height: auto;
}

figure {
  display: flex;
  justify-content: center;
  width: 100% !important;
}

figure img {
  max-width: 35vw;
  max-height: auto;
  height: auto;
}

.div-post {
  position: fixed;
  width: 50vw;
  height: 45vh;
  top:25%;
  right: 25%;
  background-color: black;
}

.fa-circle-xmark {
  font-size: 20px;
  cursor: pointer;
  color: red;
}